* {
  margin: 0;
  padding: 0;

}

body, html{
  height: 100%;

  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.bg-image {
  height: 100%;
  width: 100%;

  filter: blur(5px);

  background-image: url("img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  
  width: 80%;
  height: 20%;
  padding: 20px;

  top: 80%;
  left: 50%;

  border: 3px solid #f1f1f1;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;

  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
}

.custom-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 18px;
  margin-top: 25px;
  padding: 5px 10px;
  width: 60%;
  outline: none;
  text-align: center;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove setas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
  height: 35px;
  padding: 5px 10px;
  color: #FFFc;
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
}